{{> prog}}

<div class="instruction-page">
    <p data-i18n="study-im-instruct1-p1"></p>
    <div class="text-center my-3">
        <img src="img/stim1alt.svg" class="stim mx-2" width="80" height="80" alt="card 1">
        <img src="img/stim2alt.svg" class="stim mx-2" width="80" height="80" alt="card 2">
        <img src="img/stim3alt.svg" class="stim mx-2" width="80" height="80" alt="card 3">
    </div>
    <p data-i18n="study-im-instruct2-p1"></p>
    <p data-i18n="study-im-instruct2-p2"></p>
</div>
